*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    justify-content: space-evenly;
    color: white;
    display: flex;
    align-items: center;
}
.navbar:hover{
    border: 2px rgb(4, 0, 255);
}
.nav-logo{
height: 50px;
width: 100px;
}


.logo{
    background-image:url(amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid rgba(221, 255, 0, 0.778);
}
.add-first{
    color: #ccc;
font-size: 0.8rem;
margin-left: 15px;
}

.add-sec{
font-size: 1rem;
margin-left: 3px;
margin-left: 5px;

}
.add-icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.navsearch{
    display: flex;
   justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}


.searchselect{
    background-color: #f3f3f3;
width: 50px;
text-align: center;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border: none;
}
.searchinput{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span{
    font-size: 0.7rem;
}
.navsec{
    font-size: 0.85rem;
    font-weight: 700;
}
.cart i {
font-size: 30px;
}


.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}
.panelops p{
    margin-left: 10px;}

.panelops{
    display: flex; 
    margin-left: 10px;
}
.panelops{
    width: 70%;
    font-size: 0.85rem;
    margin-left: 10px;
}
.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}
.herosec{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.heromsg{
    color: rgb(0, 0, 0);
    display: flex;
    background-color: white;
    height: 40px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 30px;
    width: 80%;

}
.heromsg a{
    color: #007185;
}


.shopsec{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
}


.box{
    
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boximg{
    height: 320px; 
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontent p{
    color: #007185;
}

footer{
    margin-top: 15px;
}
.foot1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot2{
    background-color: #222f3d;
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    color: yellow;
}

.foot3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px; 
    justify-content: center;
    align-items: center;
    display: flex;
   
}

.logoo{
    background-image:url(amazon_logo.png);
    height: 50px;
    background-size: cover;
    width: 100px;
   
}
.foot4{
    background-color: #0f1111;
    color: white;
    text-align: center;
    font-size: 0.7rem;
}
    /* display: flex;
justify-content: center;
align-items: center;
} */
.pages{
    padding-top: 20px;

}
.copyright{
    padding-top: 5px;
    padding-bottom: 5px;
  
}
